.flot-nav{
    float: left;
}

.navbar-right{
    margin-left: 50px;
    margin-right: 30px !important;
}

#contents{
    padding: 100px 0px 50px 0px;
}

.margin-top-20{
    margin-top: 20px;
}

.brand{
    padding: 0px !important;
    margin-top: 25px !important;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none !important;
}

.navbar-brand img{
    height: 50px;
    width: auto;
    margin-top: 15px;
}

.slider-img{
    min-height: 480px;
}

.slider-content{
    margin-top: -240px !important;
}

.slider-content div{
    margin-top: 80px;
}

.margin-top-35{
    margin-top: 35px;
}

.image-route-list {
    width:auto;
    height:200px
}

ul.social-list {
    float: left;
}

.contact-details{
    float: right;
}

.dropdown li a{
    border-style: solid;
    border-width: 1px;
    border-top-style: solid !important;
}

.dropdown li{
    border-width: 0 !important;
}

.navbar-top {
    border-bottom-style: solid;
    border-width: 1px;
}

.messages .success{
    background-color: #91ce8d;
    opacity: 0.6;
    margin-bottom: 0;
    padding: 10px;
    color: #111111;
    font-size: 16px;
}

#home{
    background-color: #cccccc;
}

.color-orange{
    color: #ee3733;
}

.color-black{
    color: #222;
}

.color-white{
    color: #eee;
}

.margin-top-75{
    margin-top: 75px;
}