.flot-nav{
    float: left;
}

.navbar-right{
    margin-left: 50px;
    margin-right: 30px !important;
}

#contents{
    padding: 100px 0px 50px 0px;
}

.margin-top-20{
    margin-top: 20px;
}

.brand{
    padding: 0px !important;
    margin-top: 25px !important;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none !important;
}

.navbar-brand img{
    height: 50px;
    width: auto;
    margin-top: 15px;
}

.slider-img{
    min-height: 480px;
}

.slider-content{
    margin-top: -240px !important;
}

.slider-content div{
    margin-top: 80px;
}

.margin-top-35{
    margin-top: 35px;
}

.image-route-list {
    width:auto;
    height:200px
}

ul.social-list {
    float: left;
}

.contact-details{
    float: right;
}

.dropdown li a{
    border-style: solid;
    border-width: 1px;
    border-top-style: solid !important;
}

.dropdown li{
    border-width: 0 !important;
}

.navbar-top {
    border-bottom-style: solid;
    border-width: 1px;
}

.messages .success{
    background-color: #91ce8d;
    opacity: 0.6;
    margin-bottom: 0;
    padding: 10px;
    color: #111111;
    font-size: 16px;
}

#home{
    background-color: #cccccc;
}

.color-orange{
    color: #ee3733;
}

.color-black{
    color: #222;
}

.color-white{
    color: #eee;
}

.margin-top-60{
    margin-top: 60px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span,
.pagination>.active>span:focus, .pagination>.active>span:hover{
    color: white;
    cursor: default;
    background-color: #ee3733;
    border-color: #ee3733;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span,
.pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span{
    color: #ee3733;
}

#id_table_apply_filter{
    text-align: right;
}

.padding-0{
    padding: 0;
}

h3{
    line-height: 1.5;
}

.font-weight-300 {
    font-weight: 300;
}

.user-biography{
    margin-top: 20px;
    background-color: #cccccc;
    padding: 25px;
}

.user-biography p{
    font-size: 16px;
    font-weight: 400;
}

.tab-content{
     border: 0;
}

.background-ccc{
    background-color: #cccccc;
}

.background-ddd{
    background-color: #dddddd;
}

.image-comment-list{
    width:auto;
    height:100px
}

.margin-top-25-100{
    margin-top: 25%;
}

.margin-top-40-100{
    margin-top: 40%;
}

.comment h4{
    margin-top: 15px;
    margin-bottom: 5px;
}

.padding-bottom-15{
    padding: 0 0 15px 0;
}

.description-route{
    padding: 15px;
    background-color: #ccc;
}

.margin-bottom-35{
    margin-bottom: 35px;
}

.form-group{
    min-height: 55px;
}