{% extends 'common/master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% block contents %}{% load staticfiles %}
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for announcement in object_list %}
                <div class="row col-lg-12">
                    <div class="col-lg-3">
                        <div class="col-lg-12">
                            {% if announcement.user.photo == 'default' %}
                            <img class="img-circle img-responsive center-block image-route-list"
                                 src="{% static 'user/image/default.jpg' %}" alt="">
                            {% else %}
                            <img class="img-circle img-responsive center-block image-route-list" src="{% static announcement.user.photo %}"
                                  alt="">
                            {% endif %}
                        </div>
                        <div class="col-lg-12 text-center">
                            <a href="{% url 'user-profile' announcement.user.user_account.username %}">{{ announcement.user.name }} {{ announcement.user.surnames|truncatechars:50 }}</a>
                        </div>
                    </div>
                    <div class="col-lg-9 margin-top-75">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <b>Tipo de anuncio: </b> {{ announcement.get_kind_display }}
                            </div>
                            <div class="col-lg-6">
                                <b>{{ announcement.unitPrice }}<span class="glyphicon glyphicon-euro"
                                                              aria-hidden="true"></span> por persona </b>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <b>Origen: </b>{{ announcement.origin }}
                            </div>
                            <div class="col-lg-6">
                                <b>Destino: </b>{{ announcement.destination }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <b>Fecha de creaci&oacute&oacute;n: </b>{{ announcement.creationMoment }}
                            </div>
                            <div class="col-lg-6">
                                <b>Fecha de salida: </b>{{ announcement.date }}
                            </div>
                            <div class="col-lg-12">
                                <b>Plazas: </b>{{ announcement.seating }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <b>Descripci&oacute;n: </b>{{ announcement.description }}
                            </div>
                        </div>

                            </div>
                        </div>

                <div class="col-lg-12"><br></div>
                <div class="col-lg-12 text-center">
                    <a href="{% url 'details-announcement' announcement.pk %}" class="btn btn-system btn-large">Ver m&aacute;s detalles</a>
                    {% if request.user.id != announcement.user.user_account.id %}
                        {% if announcement.get_seats_free > 0 %}
                            <a href="{% url 'create-apply-announcement' announcement.pk %}" class="btn btn-system btn-large">Solicitar</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'edit-announcement' announcement.pk %}" class="btn btn-system btn-large">Editar</a>
                        <a href="{% url 'stop-announcement-create' announcement.pk %}" class="btn btn-system btn-large">A&ntilde;adir parada</a>
                    {% endif %}
                </div>
                <div class="col-lg-12"><br></div>
                {% if not forloop.last %}
                    <div class="col-lg-12 text-center"><span class="color-orange glyphicon glyphicon-minus"
                                                             aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                            class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-12"><br></div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
