{% extends 'common/master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% block contents %}{% load staticfiles %}
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="text-center">{{ title }}</h2>
                <br>
                <table class="table table-responsive" id="id_table_apply">
                    <thead>
                    <tr>
                        <th class="text-center">{{ kind_apply }}</th>
                        <th class="text-center">Usuario</th>
                        <th class="text-center">Origen</th>
                        <th class="text-center">Destino</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center" data-sortable="false">Aprobar</th>
                        <th class="text-center" data-sortable="false">Rechazar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for apply in object_list %}
                    <tr>
                        <td class="text-center">
                            <a href="">
                                Ir al anuncio
                            </a>
                        </td>
                        <td class="text-center"><a href="#">{{ apply.user.user_account }}</a></td>
                        <td class="text-center">{{ apply.announcement.origin|truncatechars:20 }}</td>
                        <td class="text-center">{{ apply.announcement.destination }}</td>
                        <td class="text-center">{{ apply.get_state_display }}</td>
                        <td class="text-center">
                            <a href="">
                                <i class="fa fa-check text-success"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="">
                                <i class="fa fa-times text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#id_table_apply').DataTable({
            "order": [[ 0, "asc" ]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
            }
        });
    });
</script>
{% endblock %}}