{% extends 'common/master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% block contents %}{% load staticfiles %}
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for route in route_list %}
                <div class="row col-lg-12">
                    <div class="col-lg-3">
                        <div class="col-lg-12">
                            {% if route.user.photo == 'default' %}
                            <img class="img-circle img-responsive center-block image-route-list"
                                 src="{% static 'user/image/default.jpg' %}" alt="">
                            {% else %}
                            <img class="img-circle img-responsive center-block image-route-list" src="{% static route.user.photo %}"
                                  alt="">
                            {% endif %}
                        </div>
                        <div class="col-lg-12 text-center">
                            <a href="{% url 'user-profile' route.user.user_account.username %}">{{ route.user.name }} {{ route.user.surnames|truncatechars:50 }}</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <b>Tipo de anuncio: </b> {{ route.get_kind_display }}
                            </div>
                            <div class="col-lg-6">
                                <b>{{ route.unitPrice }}<span class="glyphicon glyphicon-euro"
                                                              aria-hidden="true"></span> por persona </b>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <b>Origen: </b>{{ route.origin }}
                            </div>
                            <div class="col-lg-6">
                                <b>Destino: </b>{{ route.destination }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <b>Fecha de creaci&oacute;n: </b>{{ route.creationMoment }}
                            </div>
                            <div class="col-lg-12">
                                <b>Plazas: </b>{{ route.seating }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <b>Descripci&oacute;n: </b>{{ route.description }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12 text-center">
                                <h2>Horario</h2>
                            </div>
                            <div class="col-lg-12">
                                {% for day in route.day_set.all %}
                                {% if forloop.counter <= 4 %}
                                <div class="col-lg-3 text-center">
                                    <div class="col-lg-12">
                                        {% if day.day == 1 %}
                                        <b>Lunes</b>
                                        {% elif day.day == 2 %}
                                        <b>Martes</b>
                                        {% elif day.day == 3 %}
                                        <b>Mi&eacute;rcoles</b>
                                        {% elif day.day == 4 %}
                                        <b>Jueves</b>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        {% if day.active %}
                                        <div class="text-success"><span class="glyphicon glyphicon-ok"
                                                                        aria-hidden="true"></span></div>
                                        {% else %}
                                        <div class="text-danger"><span class="glyphicon glyphicon-remove"
                                                                       aria-hidden="true"></span></div>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        {% if day.departTime != "" %}
                                        Salida: {{ day.departTime }}
                                        {% else %}
                                        <span class="text-warning glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        {% if day.returnTime != "" %}
                                        Vuelta: {{ day.returnTime }}
                                        {% else %}
                                        <span class="text-warning glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-lg-4 text-center">
                                    <div class="col-lg-12">
                                        {% if day.day == 5 %}
                                        <b>Viernes</b>
                                        {% elif day.day == 6 %}
                                        <b>S&aacute;bado</b>
                                        {% elif day.day == 7 %}
                                        <b>Domingo</b>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        {% if day.active %}
                                        <div class="text-success"><span class="glyphicon glyphicon-ok"
                                                                        aria-hidden="true"></span></div>
                                        {% else %}
                                        <div class="text-danger"><span class="glyphicon glyphicon-remove"
                                                                       aria-hidden="true"></span></div>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        {% if day.departTime != "" %}
                                        Salida: {{ day.departTime }}
                                        {% else %}
                                        <span class="text-warning glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        {% if day.returnTime != "" %}
                                        Vuelta: {{ day.returnTime }}
                                        {% else %}
                                        <span class="text-warning glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12"><br></div>
                <div class="col-lg-12 text-center"><a href="{% url 'details-route' route.id %}" class="btn btn-system btn-large">Ver
                    m&aacute;s detalles</a>
                    {% if request.user.id != route.user.user_account.id and user.is_authenticated %}
                        {% if route.get_seats_free > 0 %}
                            <a href="{% url 'create-apply-route' route.id %}" class="btn btn-system btn-large">Solicitar</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'edit-route' route.pk %}" class="btn btn-system btn-large">Editar</a>
                        <a href="{% url 'stop-route-create' route.pk %}" class="btn btn-system btn-large">A&ntilde;adir parada</a>
                    {% endif %}
                </div>
                <div class="col-lg-12"><br></div>
                {% if not forloop.last %}
                <div class="col-lg-12 text-center"><span class="color-orange glyphicon glyphicon-minus"
                                                         aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span><span
                        class="color-orange glyphicon glyphicon-minus" aria-hidden="true"></span></div>
                <div class="col-lg-12"><br></div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
