{% extends 'common/master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% block contents %}{% load staticfiles %}

<div id="content">
    <div class="container">
        <div class="row">
              <div class="col-lg-12">
                  <div class="col-lg-4 text-center">
                      {% if route.user.photo == 'default' %}
                          <img class="img-circle img-responsive center-block"  src="{% static 'user/image/default.jpg' %}" style="width:auto;height:200px" alt="">
                      {% else %}
                          <img class="img-circle img-responsive center-block"  src="{% static route.user.photo %}" style="width:auto;height:200px" alt="">
                      {% endif %}
                  </div>
                  <div class="col-lg-8 ">
                      <div class="col-lg-12"><br></div>
                      <div class="col-lg-12"><br></div>
                      <div class="col-lg-6 padding-0">
                         <b>Nombre completo:</b> <a href="{% url 'user-profile' route.user.user_account.username %}">{{ route.user.name }} {{ route.user.surnames }}</a>
                      </div>
                      <div class="col-lg-6 padding-0">
                          <b>Rutas publicadas:</b> {{ route.user.route_set.all|length }}
                      </div>
                      <div class="col-lg-6 padding-0">
                          <b>Edad:</b> {{ route.user.calculate_age }} a&ntilde;os
                      </div>
                      <div class="col-lg-3 padding-0">
                          <b>Rating: </b>{{ route.user.get_rating }}/10
                      </div>
                      <div class="col-lg-3 padding-0">
                          <b>Evaluaciones: </b>{{ route.user.get_num_assessments }}
                      </div>
                      <div class="col-lg-6 padding-0">
                          <b>Tipo de ruta:</b> {{ route.get_kind_display }}
                      </div>
                      <div class="col-lg-6 padding-0">
                          <b>Publicaci&oacute;n:</b> {{ route.creationMoment }}
                      </div>
                      <div class="col-lg-6 padding-0">
                          <b>N&uacute;mero de plazas:</b> {{ route.seating }}
                      </div>
                      <div class="col-lg-6 padding-0">
                          <b>Precio por persona:</b> {{ route.unitPrice }} &euro;
                      </div>
                      <div class="col-lg-6 padding-0">
                          <b>Origen:</b> {{ route.origin }}
                      </div>
                      <div class="col-lg-6 padding-0">
                          <b>Destino:</b> {{ route.destination }}
                      </div>
                  </div>
              </div>
              <div class="col-lg-12 margin-bottom-35">
                  <h2 class="text-center">Descripci&oacute;n de la ruta</h2>
                  <p class="col-lg-10 col-lg-offset-1 padding-0 description-route">
                      {{ route.description }}
                  </p>
              </div>

              <div class="col-lg-12">
                <div class="col-lg-12 text-center">
                            <h2>Horario</h2>
                        </div>
                            {% for day in route.day_set.all %}
                                {% if forloop.counter <= 4 %}
                                    <div class="col-lg-3 text-center">
                                        <div class="col-lg-12">
                                            {% if day.day == 1 %}
                                                <b>Lunes</b>
                                            {% elif day.day == 2 %}
                                                <b>Martes</b>
                                            {% elif day.day == 3 %}
                                                <b>Mi&eacute;rcoles</b>
                                            {% elif day.day == 4 %}
                                                <b>Jueves</b>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-12">
                                            {% if day.active %}
                                                <div class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                                            {% else %}
                                                <div class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-12">
                                            {% if day.departTime != "" %}
                                                Salida: {{ day.departTime }}
                                            {% else %}
                                                <span class="text-warning glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-12">
                                            {% if day.returnTime != "" %}
                                                Vuelta: {{ day.returnTime }}
                                            {% else %}
                                                <span class="text-warning glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-lg-4 text-center">
                                        <div class="col-lg-12">
                                            {% if day.day == 5 %}
                                                <b>Viernes</b>
                                            {% elif day.day == 6 %}
                                                <b>S&aacute;bado</b>
                                            {% elif day.day == 7 %}
                                                <b>Domingo</b>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-12">
                                            {% if day.active %}
                                                <div class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                                            {% else %}
                                                <div class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-12">
                                            {% if day.departTime != "" %}
                                                Salida: {{ day.departTime }}
                                            {% else %}
                                                <span class="text-warning glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-12">
                                            {% if day.returnTime != "" %}
                                                Vuelta: {{ day.returnTime }}
                                            {% else %}
                                                <span class="text-warning glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                <div class="col-lg-12"><br></div>
                <div class="col-lg-12 text-center"><h2>Comentarios</h2> <b>Valoraci&oacute;n de la ruta: {{ route.get_rating }}/10</b></div>
                <div class="col-lg-12"><br></div>
                <div class="col-lg-12">
                    {% if route.commentroute_set.all|length > 0 %}
                        {% for comment in route.commentroute_set.all %}
                            <div class="col-lg-12 padding-bottom-15 {% if forloop.counter|divisibleby:2 %}background-ccc{% else %}background-ddd{% endif %}">
                                <a href="{% url 'user-profile' comment.user.user_account.username %}">
                                    <div class="col-lg-4">
                                        <div class="col-lg-4 padding-0">
                                            {% if comment.user.photo == 'default' %}
                                                <img class="img-circle img-responsive image-comment-list margin-top-25-100"
                                                     src="{% static 'user/image/default.jpg' %}" alt="">
                                            {% else %}
                                                <img class="img-circle img-responsive image-comment-list margin-top-25-100" src="{% static comment.user.photo %}"
                                                      alt="">
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-8">
                                            <h6 class="text-center margin-top-40-100">
                                                {{ comment.user.user_account.username }}
                                            </h6>
                                        </div>
                                    </div>
                                </a>
                                <div class="col-lg-8 comment">
                                    <h4 class="text-center">{{ comment.subject }} | {{ comment.rating }}/10</h4>
                                    <p class="text-justify">
                                        {{ comment.comment }}
                                    </p>
                                </div>

                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-lg-12 text-center">
                            <h2 class="text-danger">No hay comentarios para esta ruta.</h2>
                        </div>
                    {% endif %}
                    {% if user.is_authenticated and user.pk == route.user.user_account.pk and route.applyroute_set.all %}
                      <div class="col-lg-12"><br></div>
                      <div class="col-lg-12 text-center"><h2>Solicitudes</h2></div>
                      <div class="col-lg-12"><br></div>
                      <br>
                        <table class="table table-responsive" id="id_table_apply">
                            <thead>
                            <tr>
                                <th class="text-center">Usuario</th>
                                <th class="text-center">Origen</th>
                                <th class="text-center">Destino</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center" data-sortable="false">Aprobar</th>
                                <th class="text-center" data-sortable="false">Rechazar</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for apply in route.applyroute_set.all %}
                            <tr>
                                <td class="text-center"><a href="{% url 'user-profile' apply.user.user_account.username %}">{{ apply.user.user_account }}</a></td>
                                <td class="text-center">{{ apply.route.origin|truncatechars:20 }}</td>
                                <td class="text-center">{{ apply.route.destination }}</td>
                                <td class="text-center">{{ apply.get_state_display }}</td>

                                <td class="text-center">
                                    {% if apply.state != 'approach' %}
                                        <a href="{% url 'resolve-apply-route' apply.pk 'approach'%}">
                                            <i class="fa fa-check text-success"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if apply.state != 'rejected' %}
                                        <a href="{% url 'resolve-apply-route' apply.pk 'reject'%}">
                                            <i class="fa fa-times text-danger"></i>
                                        </a>
                                    {% endif %}
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if user != route.user.user_account %}
                        <div class="col-lg-12 text-center margin-top-20">
                            <a href="{% url 'create-comment-route' route.pk %}" class="btn btn-system btn-large">Escribir comentario</a>
                        </div>
                    {% endif %}
                    {% if route.stoproute_set.all %}
                      <div class="col-lg-12"><br></div>
                      <div class="col-lg-12 text-center"><h2>Paradas</h2></div>
                      {% if user.is_authenticated and user.pk == route.user.user_account.pk %}
                          <div class="col-lg-12 text-right padding-0">
                              <a href="{% url 'stop-route-create' route.pk %}" class="btn btn-system btn-large">A&ntilde;adir parada</a>
                          </div>
                      {% endif %}
                    <div class="col-lg-12"><br></div>
                      <br>
                        <table class="table table-responsive" id="id_table_stop">
                            <thead>
                            <tr>
                                <th class="text-center">Parada</th>
                                <th class="text-center">Orden</th>
                                {% if user.is_authenticated and user.pk == route.user.user_account.pk %}
                                    <th class="text-center" data-sortable="false">Editar</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for stop in route.stoproute_set.all %}
                            <tr>
                                <td class="text-center">{{ stop.stop }}</td>
                                <td class="text-center">{{ stop.sequence }}</td>
                                {% if user.is_authenticated and user.pk == route.user.user_account.pk %}
                                    <td class="text-center"><a href="{% url 'stop-route-edit' stop.pk %}"><i class="fa fa-pencil-square-o"></i> Editar</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
          </div>
    </div>
     </div>
<script>
    $(document).ready(function() {
        $('#id_table_apply').DataTable({
            "order": [[ 0, "asc" ]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
            }
        });
        $('#id_table_stop').DataTable({
            "order": [[ 1, "asc" ]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
            }
        });
    });
</script>
{% endblock %}
