{% load staticfiles %}
<!-- Start Header -->
<div class="hidden-header"></div>
<header class="clearfix">

    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <ul class="contact-details">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'user-profile' user.username %}"><i class="fa fa-user"></i> Conectado como {{ user.username }}</a>
                            </li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Cerrar seci&oacute;n</a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Iniciar sesi&oacute;n</a>
                            </li>
                            <li><a href="{% url 'create-user' %}"><i class="fa fa-user-plus"></i> Registro de usuario</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand brand" href="/"><span class="color-orange">SHARING</span> <span class="color-black">CARS</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a {% if active == 'announcements' %}class="active"{% endif %} href="{% url 'announcement-all' %}">Anuncios</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'announcement-all' %}">Todos los anuncios</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'create-announcement' %}">Crear anuncio</a></li>
                                <li><a href="{% url 'announcement-user' %}">Mis anuncios</a></li>
                                <li><a href="{% url 'recommendations-announcements' %}">Anuncios recomendados para mi</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a {% if active == 'routes' %}class="active"{% endif %} href="{% url 'all-routes' %}">Rutas</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'all-routes' %}">Todas las rutas</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'create-route' %}">Crear ruta</a></li>
                                <li><a href="{% url 'user-routes' %}">Mis rutas</a></li>
                                <li><a href="{% url 'recommendations-routes' %}">Rutas recomendadas para mi</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a {% if active == 'messages' %}class="active"{% endif %} href="#">Mensajes</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'messages-send' %}">Mandar mensaje</a></li>
                            <li><a href="{% url 'messages-details' 'income' %}">Bandeja de entrada</a></li>
                            <li><a href="{% url 'messages-details' 'outcome' %}">Bandeja de salida</a></li>
                            <li><a href="{% url 'messages-details' 'draft' %}">Papelera</a></li>
                        </ul>
                    </li>
                    <li>
                        <a {% if active == 'applies' %}class="active"{% endif %} href="#">Solicitudes</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'apply-announcement-user-received' %}">Recibidas (Anuncios)</a></li>
                            <li><a href="{% url 'apply-route-user-received' %}">Recibidas (Rutas)</a></li>
                            <li><a href="{% url 'apply-announcement-user-performed' %}">Realizadas (Anuncios)</a></li>
                            <li><a href="{% url 'apply-route-user-performed' %}">Realizadas (Rutas)</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <ul class="wpb-mobile-menu">
           <li>
                        <a {% if active == 'announcements' %}class="active"{% endif %} href="{% url 'announcement-all' %}">Anuncios</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'announcement-all' %}">Todos los anuncios</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'create-announcement' %}">Crear anuncio</a></li>
                                <li><a href="{% url 'announcement-user' %}">Mis anuncios</a></li>
                                <li><a href="{% url 'recommendations-announcements' %}">Anuncios recomendados para mi</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a {% if active == 'routes' %}class="active"{% endif %} href="{% url 'all-routes' %}">Rutas</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'all-routes' %}">Todas las rutas</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'create-route' %}">Crear ruta</a></li>
                                <li><a href="{% url 'user-routes' %}">Mis rutas</a></li>
                                <li><a href="{% url 'recommendations-routes' %}">Rutas recomendadas para mi</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a {% if active == 'messages' %}class="active"{% endif %} href="#">Mensajes</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'messages-send' %}">Mandar mensaje</a></li>
                            <li><a href="{% url 'messages-details' 'income' %}">Bandeja de entrada</a></li>
                            <li><a href="{% url 'messages-details' 'outcome' %}">Bandeja de salida</a></li>
                            <li><a href="{% url 'messages-details' 'draft' %}">Papelera</a></li>
                        </ul>
                    </li>
                    <li>
                        <a {% if active == 'applies' %}class="active"{% endif %} href="#">Solicitudes</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'apply-announcement-user-received' %}">Recibidas (Anuncios)</a></li>
                            <li><a href="{% url 'apply-route-user-received' %}">Recibidas (Rutas)</a></li>
                            <li><a href="{% url 'apply-announcement-user-performed' %}">Realizadas (Anuncios)</a></li>
                            <li><a href="{% url 'apply-route-user-performed' %}">Realizadas (Rutas)</a></li>
                        </ul>
                    </li>
                    {% endif %}
        </ul>

    </div>

</header>
