{% extends 'common/master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% load i18n %}
{% block contents %}
<!-- Start HomePage Slider -->
    <section id="home">
      <!-- Carousel -->
      <div id="main-slide" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#main-slide" data-slide-to="0" class="active"></li>
          <li data-target="#main-slide" data-slide-to="1"></li>
          <li data-target="#main-slide" data-slide-to="2"></li>
        </ol>
        <!--/ Indicators end-->

        <!-- Carousel inner -->
        <div class="carousel-inner">
          <div class="item active">
            <img class="img-responsive slider-img">
            <div class="slider-content">
              <div class="col-md-12 text-center">
                <h2 class="animated2">
              <span>&#161;Bienvenido a <strong>Sharing cars!</strong></span>
          </h2>
                <h3 class="animated3">
           <span>Aqu&iacute; podr&aacute; encontrar rutas para compartir coche</span>
       </h3>
                <p class="animated4"><a href="{% url 'all-routes' %}" class="slider btn btn-system btn-large">Ver rutas disponibles</a></p>
              </div>
            </div>
          </div>
          <!--/ Carousel item end -->
          <div class="item">
            <img class="img-responsive slider-img">
            <div class="slider-content">
              <div class="col-md-12 text-center">
                <h2 class="animated4">
        <span><strong>Sharing Cars</strong> para ahorrar</span>
    </h2>
                <h3 class="animated5">
     <span>Si piensa en hacer un viaje, busque en nuestros anuncios</span>
 </h3>
                <p class="animated6"><a href="{% url 'announcement-all' %}" class="slider btn btn-system btn-large">Ver anuncios</a></p>
              </div>
            </div>
          </div>
          <!--/ Carousel item end -->
          <div class="item">
            <img class="img-responsive slider-img">
            <div class="slider-content">
              <div class="col-md-12 text-center">
                <h2 class="animated7 color-black">
        <strong>Si usted tiene coche <strong></strong></strong>
    </h2>
                <h3 class="animated8 color-orange">
     <span class="black">No lo piense m&aacute;s y proponga sus propias rutas o anuncios</span>
 </h3>
                <div class="buttons-slide">
                  <a class="animated4 slider btn btn-system btn-large btn-min-block" href="{% url 'create-announcement' %}">Crear anuncio</a><a class="animated4 slider btn btn-default btn-min-block" href="{% url 'create-route' %}">Crear ruta</a>
                </div>
              </div>
            </div>
          </div>
          <!--/ Carousel item end -->
        </div>
        <!-- Carousel inner end-->

        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
          <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
          <span><i class="fa fa-angle-right"></i></span>
        </a>
      </div>
      <!-- /carousel -->
    </section>
    <!-- End HomePage Slider -->
<!-- Start Content -->
    <div id="content">
      <div class="container">

        <!-- Start Services Icons -->
        <div class="row">

          <!-- Start Service Icon 1 -->
          <div class="col-md-3 col-sm-6 service-box service-center">
            <div class="service-boxed">
              <div class="service-icon" style="margin-top:-25px;">
                <i class="fa fa-user icon-medium-effect icon-effect-2"></i>
              </div>
              <div class="service-content">
                <h4>Como usuario sin veh&iacute;culo...</h4>
                <p class="text-justify">
                  Si est&aacute;s planeando realizar un viaje:
                  Podr&aacute; buscar y encontrar veh&iacute;culo para compartir y ahorra un dinero considerado adem&aacute;s
                  del tiempo que se ahorrar&iacute;a al no usar transporte p&uacute;blico.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service Icon 1 -->

          <!-- Start Service Icon 2 -->
          <div class="col-md-3 col-sm-6 service-box service-center">
            <div class="service-boxed">
              <div class="service-icon" style="margin-top:-25px;">
                <i class="fa fa-road icon-medium-effect icon-effect-2"></i>
              </div>
              <div class="service-content">
                <h4>&iquest;Hace viajes rutinarios y no tiene veh&iacute;culo?</h4>
                <p class="text-justify">
                  Encuentre a otras personas con veh&iacute;culo y que hagan los mismos viajes
                  rutinarios en nuestra secci&oacute;n de rutas. Recuerde mirar las paradas.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service Icon 2 -->

          <!-- Start Service Icon 3 -->
          <div class="col-md-3 col-sm-6 service-box service-center">
            <div class="service-boxed">
              <div class="service-icon" style="margin-top:-25px;">
                <i class="fa fa-car icon-medium-effect icon-effect-1"></i>
              </div>
              <div class="service-content">
                <h4>Como usuario con veh&iacute;culo...</h4>
                <p class="text-justify">
                  Si est&aacute; planeando realizar un viaje, no lleva todas las plazas de su veh&iacute;culo completas
                  y quiere ahorrarse un dinero extra, no lo piense y publique su viaje en nuestra secci&oacute;n de anuncios.

                </p>
              </div>
            </div>
          </div>
          <!-- End Service Icon 3 -->

          <!-- Start Service Icon 4 -->
          <div class="col-md-3 col-sm-6 service-box service-center">
            <div class="service-boxed">
              <div class="service-icon" style="margin-top:-25px;">
                <i class="fa fa-bus icon-medium-effect icon-effect-1"></i>
              </div>
              <div class="service-content">
                <h4>&iquest;Hace viajes rutinarios y tiene veh&iacute;culo?</h4>
                <p class="text-justify">
                  Proponga rutas para que los dem&aacute;s usuarios vean su anuncio o busque usuarios que no tengan veh&iacute;culo
                  y hagan la misma ruta que usted.

                </p>
              </div>
            </div>
          </div>
          <!-- End Service Icon 4 -->

        </div>
        <!-- End Services Icons -->



        <!-- Divider -->
        <div class="hr1 margin-60"></div>


        <div class="row">

          <div class="col-md-4">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Sobre nosotros...</span></h4>

            <!-- Nav Tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-award-1"></i>Anuncios</a></li>
              <li><a href="#tab2" data-toggle="tab"><i class="icon-beaker"></i>Rutas</a></li>
              <li><a href="#tab3" data-toggle="tab"><i class="icon-droplet"></i>Caracter social</a></li>
            </ul>

            <!-- Tab Panels -->
            <div class="tab-content">
              <!-- Tab Content 1 -->
              <div class="tab-pane fade in active" id="tab1">
                <p class="text-justify">
                  Un anuncio es la publicaci&oacute;n de un viaje puntual, es decir, un viaje que se realiza una &uacute;nica
                  vez.</p>
                <p class="text-justify">
                  Tanto si tiene veh&iacute;culo como si no lo tiene puede publicar anuncios para buscar otros usuarios
                  con los que realizar el viaje y as&iacute; poder ahorrar dinero en tus viajes.
                </p>
              </div>
              <!-- Tab Content 2 -->
              <div class="tab-pane fade" id="tab2">
                <p class="text-justify">
                  Una ruta es la publicaci&oacute;n de un viaje que se repite, por ejemplo, el viaje de casa a la universidad,
                  al trabajo, etc.</p>
                <p class="text-justify">
                  Tanto si tiene veh&iacute;culo como si no lo tiene puede publicar rutas para buscar otros usuarios
                  con los que realizar los y as&iacute; poder ahorrar dinero en tus viajes.
                </p>
              </div>
              <!-- Tab Content 1 -->
              <div class="tab-pane fade" id="tab3">
                <p class="text-justify">
                  Como una red social que somos, tenemos ciertas caracter&iacute;sticas comunes a las redes sociales.
                  Podr&aacute;s:
                </p>
                <p class="text-justify">
                  - Comentar y evaluar las rutas, anuncios y a usuarios por los que contar su experiencia con los dem&aacute;s
                  usuarios, tanto para bien como para mal.
                </p>
                <p class="text-justify">
                  - Enviar y recibir mensajes de otros usuarios.
                </p>
              </div>
            </div>

          </div>

          <div class="col-md-4">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>&iquest;Por qu&eacute; elegirnos?</span></h4>

            <!-- Accordion -->
            <div class="panel-group" id="accordion">

              <!-- Start Accordion 1 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
            <i class="icon-down-open-1 control-icon"></i>
            <i class="icon-laptop-1"></i> Ahorro de dinero
        </a>
    </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-one" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Podr&aacute; encontrar distintos usuarios con los que compartir coche los cuales pueden haber sido
                    evaluados por otros usuarios y podr&aacute; ver si realmente es una buena persona para compartir coche
                    con &eacute;l.
                  </div>
                </div>
              </div>
              <!-- End Accordion 1 -->

              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed">
         <i class="icon-down-open-1 control-icon"></i>
         <i class="icon-gift-1"></i> Viajes peri&oacute;dicos
     </a>
 </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-tow" class="panel-collapse collapse">
                  <div class="panel-body">
                    Adem&aacute;s de anuncios para viajes puntuales, nuestro punto fuerte son los viajes peri&oacute;dicos
                    mediante los cuales podr&aacute; ahorrar dinero y tiempo en tus viajes hacia la universidad, el trabajo,
                    en definitiva, unos gastos fijos que todos tenemos y mediante nosotros podr&aacute; encontrar otro usuarios
                    mediente los cuales compartir y ahorrar.
                  </div>
                </div>
              </div>
              <!-- End Accordion 2 -->

              <!--&lt;!&ndash; Start Accordion 3 &ndash;&gt;-->
              <!--<div class="panel panel-default">-->
                <!--&lt;!&ndash; Toggle Heading &ndash;&gt;-->
                <!--<div class="panel-heading">-->
                  <!--<h4 class="panel-title">-->
        <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">-->
          <!--<i class="icon-down-open-1 control-icon"></i>-->
          <!--<i class="icon-tint"></i> Retina Ready-->
      <!--</a>-->
  <!--</h4>-->
                <!--</div>-->
                <!--&lt;!&ndash; Toggle Content &ndash;&gt;-->
                <!--<div id="collapse-three" class="panel-collapse collapse">-->
                  <!--<div class="panel-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash; End Accordion 3 &ndash;&gt;-->

            </div>

          </div>

          <div class="col-md-4">
            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Sharing Cars</span></h4>
            <!-- Vimeo Iframe -->
            <!--<iframe src="https://vimeo.com/76843270?title=0&amp;byline=0&amp;portrait=0" width="800" height="450"></iframe>-->
            <iframe src="https://player.vimeo.com/video/76843270?title=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          </div>

        </div>


      </div>
    </div>
    <!-- End Content -->
{% endblock %}
